<!doctype html>
<html lang="en">
  <head>
    <title>Parish Church html Template</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Calling Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <!-- Calling Favicon -->
    <!-- ********************* -->
    <!-- CSS files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/nice-select.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/meanmenu.css" media="all" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" class="color-changing" href="/css/color6.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- End CSS files -->
  </head>

  <body>
    <!-- Preloader start -->
    <div class="loader-out flex-center">
      <div class="loader"></div>
    </div>
    <!-- Preloader end -->
    <!-- Header start -->
    <header class="type4 transition-5 relative mg-header mg-header-dark">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-2 col-4">
            <div class="logo2">
              <a href="index.html">
                <img src="/images/logo/mg-logo.png" alt="" />
              </a>
            </div>
          </div>
          <div class="col-md-8 col-4 text-right">
            <span class="toggle-category">
              <i class="fas fa-chevron-down"></i>
            </span>
            <ul class="nav nav-links1 list-type2 justify-content-center">
              <li class="mg-nav-item mg-nav-item-has-children nav-link">
                <a href="#">HOME</a>
                <ul class="sub-menu">
                  <li class="mg-nav-item nav-link">
                    <a href="index.html">Homepage 1</a>
                  </li>
                  <li class="mg-nav-item nav-link">
                    <a href="index-2.html">Homepage 2</a>
                  </li>
                  <li class="mg-nav-item nav-link">
                    <a href="index-3.html">Homepage 3</a>
                  </li>
                  <li class="mg-nav-item nav-link">
                    <a href="index-4.html">Homepage 4</a>
                  </li>
                </ul>
              </li>
              <li class="nav-link"><a href="ministries.html">MINISTRIES</a></li>
              <li class="nav-link"><a href="sermons.html">SERMONS</a></li>
              <li class="nav-link"><a href="events.html">EVENTS</a></li>
              <li class="nav-link"><a href="blog.html">BLOG</a></li>
              <li class="nav-link"><a href="services.html">SERVICES</a></li>

              <li class="mg-nav-item mg-nav-item-has-children nav-link">
                <a href="#">SHOP</a>
                <ul class="sub-menu">
                  <li class="mg-nav-item nav-link">
                    <a href="shop-listing.html">Shoping-list-1</a>
                  </li>
                  <li class="mg-nav-item nav-link">
                    <a href="shop-listing-2.html">Shoping-list 2</a>
                  </li>
                  <li class="mg-nav-item nav-link">
                    <a href="product-details.html">product-details</a>
                  </li>
                  <li class="mg-nav-item nav-link">
                    <a href="cart.html">cart</a>
                  </li>
                  <li class="mg-nav-item nav-link">
                    <a href="index-rental.html">rental</a>
                  </li>
                </ul>
              </li>

              <!-- mega menu page-->
              <li
                class="mg-nav-item mg-nav-item-has-children has-mega-menu mg-mega-menu--4-col-2 nav-link"
              >
                <a href="#">PAGES</a>
                <ul class="sub-menu">
                  <li class="mg-mega-menu-wrapper clearfix">
                    <ul class="mg-mega-menu">
                      <li class="mg-nav-item mg-mega-menu-title pl-0">
                        Inner Pages
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="blog-detail.html">Blog Detail</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="blog-detail-sidebar-left.html"
                          >Blog Detail Left</a
                        >
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="blog-detail-sidebar-right.html"
                          >Blog Detail Right</a
                        >
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="events-detail.html">Events Detail</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="events-detail-sidebar-left.html"
                          >Events Detail Left</a
                        >
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="events-detail-sidebar-right.html"
                          >Events Detail Right</a
                        >
                      </li>
                    </ul>
                    <ul class="mg-mega-menu">
                      <li class="mg-nav-item mg-mega-menu-title v-hidden">
                        Inner Pages
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="sermons-detail.html">Sermons Detail</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="sermons-detail-2.html">Sermons Detail 2</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="sermons-detail-sidebar-left.html"
                          >Sermons Detail Left</a
                        >
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="sermons-detail-sidebar-left-2.html"
                          >Sermons Detail Left 2</a
                        >
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="sermons-detail-sidebar-right.html"
                          >Sermons Detail Right</a
                        >
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="sermons-detail-sidebar-right-2.html"
                          >Sermons Detail Right 2</a
                        >
                      </li>
                    </ul>
                    <ul class="mg-mega-menu">
                      <li class="mg-nav-item mg-mega-menu-title v-hidden">
                        Inner Pages
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="ministries-detail.html">Ministries Detail</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="services-detail.html">Services Detail</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="donation-detail.html">Donation Detail</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="testimonials.html">Testimonial</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="coming-soon.html">Coming Soon</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="error.html">404 Error</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="login.html">Login</a>
                      </li>
                    </ul>
                    <ul class="mg-mega-menu">
                      <li class="mg-nav-item mg-mega-menu-title pl-0">
                        Other Pages
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="about-us.html">About Us</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="about-pastor.html">About Pastor</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="about-previous-pastor.html"
                          >About Previous Pastor</a
                        >
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="our-partner.html">Our Partner</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="our-member.html">Our Member</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="contact-1.html">Contact Us 1</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="contact-2.html">Contact Us 2</a>
                      </li>
                      <li class="mg-nav-item nav-link">
                        <a href="signup.html">signup</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <!-- mega menu page-->
            </ul>
          </div>
          <div class="col-md-2 col-4 text-center">
            <a
              href="#"
              class="search-icon mr-150 mr-md-75 mr-xs-55"
              data-toggle="modal"
              data-target="#searchModal"
            >
              <i class="fas fa-search fs-18 white mt-5"></i>
            </a>
          </div>
        </div>
      </div>
      <a href="donate.html" class="db-block ml-35 ml-xs-25">
        <div class="transform-center">DONATE</div>
      </a>
      <a href="#" class="menu-bars db-none right-menu ml-35 ml-xs-25">
        <div class="bars transform-center">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
      <!--RIGHT MENU-->
      <div class="col-md-2 col-2 text-right">
        <div class="icon-links d-flex align-items-center justify-content-end">
          <div class="bg-menu-overlay transition-5 opacity-8"></div>
          <div
            class="fx-menu-wrapper bg-yellow-op-9 transition-5 d-flex justify-content-between flex-column"
          >
            <div class="fx-menu-header d-flex justify-content-between">
              <p class="rbt-slab fs-13 f-700">Parish Church</p>
              <div class="close-menu">
                <a href="#" class="">
                  <span></span>
                  <span></span>
                </a>
              </div>
            </div>
            <a href="donate.html" class="btn btn-black mt-30 mb-35 mb-xs-20"
              >DONATE</a
            >
            <div class="fx-menu-content mb-15">
              <ul class="fx-menu-links rbt-slab">
                <li>
                  <a href="#" class="has-sub">Home</a>
                  <ul class="submenu">
                    <li><a href="index.html">Home Page 1</a></li>
                    <li><a href="index-2.html">Home Page 2</a></li>
                    <li><a href="index-3.html">Home Page 3</a></li>
                    <li><a href="index-4.html">Home Page 4</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="fx-menu-links rbt-slab">
                <li><a href="ministries.html">Ministries</a></li>
              </ul>
              <ul class="fx-menu-links rbt-slab">
                <li><a href="sermons.html">Sermons</a></li>
              </ul>
              <ul class="fx-menu-links rbt-slab">
                <li><a href="events.html">Events</a></li>
              </ul>
              <ul class="fx-menu-links rbt-slab">
                <li><a href="blog.html">Blog</a></li>
              </ul>
              <ul class="fx-menu-links rbt-slab">
                <li><a href="services.html">Services</a></li>
              </ul>

              <ul class="fx-menu-links rbt-slab">
                <li>
                  <a href="#" class="has-sub">SHOP</a>
                  <ul class="submenu">
                    <li class="mg-nav-item nav-link">
                      <a href="shop-listing.html">Shoping-list 1</a>
                    </li>
                    <li class="mg-nav-item nav-link">
                      <a href="shop-listing-2.html">Shoping-list 2</a>
                    </li>
                    <li class="mg-nav-item nav-link">
                      <a href="product-details.html">product-details</a>
                    </li>
                    <li class="mg-nav-item nav-link">
                      <a href="cart.html">cart</a>
                    </li>
                    <li class="mg-nav-item nav-link">
                      <a href="index-rental.html">rental</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="fx-menu-links rbt-slab">
                <li>
                  <a href="#" class="has-sub">Pages</a>
                  <ul class="submenu">
                    <li>
                      <a href="#" class="has-sub">Other Pages</a>
                      <ul class="submenu menu-submenu-text">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="about-pastor.html">About Pastor</a></li>
                        <li>
                          <a href="about-previous-pastor.html"
                            >About Previous Pastor</a
                          >
                        </li>
                        <li><a href="our-partner.html">Our Partner</a></li>
                        <li><a href="our-member.html">Our Member</a></li>
                        <li><a href="testimonials.html">Testimonial</a></li>
                        <li><a href="contact-1.html">Contact Us 1</a></li>
                        <li><a href="contact-2.html">Contact Us 2</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                        <li><a href="error.html">404 Error</a></li>
                        <li><a href="login.html">Login</a></li>
                      </ul>
                    </li>
                    <li class="text-bold">
                      <a href="#" class="has-sub">Inner Pages</a>
                      <ul class="submenu menu-submenu-text">
                        <li><a href="blog-detail.html">Blog Detail</a></li>
                        <li>
                          <a href="blog-detail-sidebar-left.html"
                            >Blog Detail Left</a
                          >
                        </li>
                        <li>
                          <a href="blog-detail-sidebar-right.html"
                            >Blog Detail Right</a
                          >
                        </li>
                        <li><a href="events-detail.html">Events Detail</a></li>
                        <li>
                          <a href="events-detail-sidebar-left.html"
                            >Events Detail Left</a
                          >
                        </li>
                        <li>
                          <a href="events-detail-sidebar-right.html"
                            >Events Detail Right</a
                          >
                        </li>
                        <li>
                          <a href="sermons-detail.html">Sermons Detail</a>
                        </li>
                        <li>
                          <a href="sermons-detail-2.html">Sermons Detail 2</a>
                        </li>
                        <li>
                          <a href="sermons-detail-sidebar-left.html"
                            >Sermons Detail Left</a
                          >
                        </li>
                        <li>
                          <a href="sermons-detail-sidebar-left-2.html"
                            >Sermons Detail Left 2</a
                          >
                        </li>
                        <li>
                          <a href="sermons-detail-sidebar-right.html"
                            >Sermons Detail Right</a
                          >
                        </li>
                        <li>
                          <a href="sermons-detail-sidebar-right-2.html"
                            >Sermons Detail Right 2</a
                          >
                        </li>
                        <li>
                          <a href="ministries-detail.html">Ministries Detail</a>
                        </li>
                        <li>
                          <a href="services-detail.html">Services Detail</a>
                        </li>
                        <li>
                          <a href="donation-detail.html">Donation Detail</a>
                        </li>
                        <li><a href="signup.html">signup</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="fx-menu-footer">
              <ul class="mg-header social-icons menu-social black">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- The search Modal start -->
    <div
      class="search-popup modal"
      id="searchModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="searchModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form action="#">
              <div class="form-group relative">
                <input
                  type="text"
                  class="form-control input-search"
                  id="search"
                  placeholder="Search here..."
                />
                <i class="fas fa-search transform-v-center"></i>
              </div>
            </form>
          </div>
        </div>
      </div>
      <i class="fas fa-times close-search-modal" data-dismiss="modal"></i>
    </div>
    <!-- The search Modal end -->
    <!-- Header end -->
    <!-- Inner start -->
    <section
      class="inner-banner bg-cover"
      style="background-image: url('/images/Banner/inner-banner-1.jpg')"
    >
      <h1 class="transform-center">Believer's Testimony Form</h1>
    </section>
    <!-- <section class="bnr-pagination pt-sm-20 pb-sm-20 bg-light-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 text-center text-md-left">
                    <h2 class="f-700">Contact Us 2</h2>
                </div>
                <div class="col-md-4 text-center text-md-right">
                    <ul class="pagination-inner">
                        <li><a href="index.html" class="yellow">Home </a>
                        </li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section> -->
    <!--Inner end -->
    <!-- contact start -->
    <section class="contact-2 pt-75">
      <div class="container">
        <div class="row mb-40">
          <div class="col-lg-12 mb-55 mb-sm-30">
            <h2 class="f-600 fs-28 text-left text-lg-center">
              I will speak of thy testimonies also before kings, and will not be
              ashamed. – Psalm 119:46
              <span class="fade-texts my-style transform-center"
                >TESTIMONY</span
              >
            </h2>
          </div>
        </div>
      </div>
    </section>
    <!-- contact end -->
    <!-- contact form -->
    <section class="contact-form pt-0 pb-80">
      <div class="container">
        <div class="yellow-border-7 shadow-2">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="f-700 mb-25 fs-41 text-left text-lg-center">
                Testimoney Details
              </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form id="testimonyForm" class="relative z-5 mt-10">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group relative mb-30 mb-sm-20">
                      <input
                        type="text"
                        class="form-control input-lg input-white shadow-5"
                        name="firstName"
                        id="firstName"
                        placeholder="First Name"
                      />
                      <i class="far fa-user transform-v-center"></i>
                      <span id="firstNameError" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group relative mb-30 mb-sm-20">
                      <input
                        type="text"
                        class="form-control input-lg input-white shadow-5"
                        name="lastName"
                        id="lastName"
                        placeholder="Last Name"
                      />
                      <i class="far fa-user transform-v-center"></i>
                      <span id="lastNameError" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group relative mb-30 mb-sm-20">
                      <input
                        type="email"
                        class="form-control input-lg input-white shadow-5"
                        id="email"
                        placeholder="Email Address"
                      />
                      <i class="fas fa-envelope transform-v-center"></i>
                      <span id="emailError" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group relative mb-30 mb-sm-20">
                      <input
                        type="text"
                        class="form-control input-lg input-white shadow-5"
                        id="address"
                        placeholder="Address"
                      />
                      <i class="fas fa-location transform-v-center"></i>
                      <span id="addressError" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group relative mb-30 mb-sm-20">
                      <input
                        type="text"
                        class="form-control input-lg input-white shadow-5"
                        id="country"
                        placeholder="Country"
                      />
                      <i class="fas fa-world-alt transform-v-center"></i>
                      <span id="countryError" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group relative mb-30 mb-sm-20">
                      <input
                        type="text"
                        class="form-control input-lg input-white shadow-5"
                        id="category"
                        placeholder="Testimony Category"
                      />
                      <i class="fas fa-mobile-alt transform-v-center"></i>
                      <span id="categoryError" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group relative mb-30 mb-sm-20">
                      <input
                        type="text"
                        class="form-control input-lg input-white shadow-5"
                        id="makePublic"
                        placeholder="Would You Like To Make This Testimony Public?"
                      />
                      <i class="fas fa-mobile-alt transform-v-center"></i>
                      <span id="makePublicError" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group relative mb-30 mb-sm-20">
                      <input
                        type="file"
                        class="form-control input-lg input-white shadow-5"
                        id="formFile"
                        accept="image/jpeg, image/png"
                      />
                      <span id="fileError" class="text-danger"></span>
                    </div>
                  </div>
                  <!-- Image Preview Section -->
                  <div class="col-lg-12">
                    <div class="form-group relative mb-30 mb-sm-20">
                      <img
                        id="imagePreview"
                        src="#"
                        alt="Image Preview"
                        style="
                          display: none;
                          max-width: 200px;
                          max-height: 200px;
                          object-fit: contain;
                          border: 1px solid #ccc;
                          padding: 5px;
                        "
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group relative mb-30 mb-sm-20">
                      <textarea
                        class="form-control input-white shadow-5"
                        name="message"
                        id="message"
                        cols="30"
                        rows="7"
                        placeholder="Your message"
                      ></textarea>
                      <span id="messageError" class="text-danger"></span>
                    </div>
                  </div>
                  <div class="form-group form-check pl-0">
                    <div class="d-flex justify-content-between">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck1"
                          checked=""
                        />
                        <label
                          class="custom-control-label fs-13"
                          for="customCheck1"
                        >
                          <span class="label-check"
                            >Get notified when testimony is published</span
                          >
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 text-center mt-10 mb-5">
                    <button type="submit" class="btn btn-black shadow-1">
                      SUBMIT
                    </button>
                  </div>
                </div>
              </form>
              <!-- Add a loading spinner or progress indicator if necessary -->
              <div id="uploadStatus" style="display: none">Uploading...</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- contact form end -->
    <!-- cta start -->
    <section class="cta bg-yellow pt-30 pb-30">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-9 col-md-12 text-center text-lg-left">
            <h3 class="f-700 fs-35 mb-md-20">
              Not A Member? Connect With Us...
            </h3>
          </div>
          <div class="col-lg-3 col-md-12 text-center text-lg-right">
            <a href="contact-1.html" class="btn btn-black shadow-1"
              >CONNECT WITH US</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- cta end -->
    <!-- footer start -->
    <footer class="bg-light-white relative">
      <div class="main-footer pt-55 pb-40">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <h6 class="fs-23 f-700 mb-25">About Us</h6>
              <div class="about-footer pr-60 mb-md-40">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipis cing elit. Ut
                  iaculis lectus leo, mollis pharetra mauris laoreet sit amet
                  ectus leo, mollis pharetra.
                </p>
                <p>
                  Sed bibendum tincidunt nulla, non tempor lectus ultrices nec.
                  Cras netempor lectus mollis pharetra mauris laoreet
                  consectetur adipis cing..
                  <a href="about-us.html" class="underline">Read More</a>
                </p>
              </div>
            </div>
            <div class="col-lg-3 mb-md-40">
              <h6 class="fs-23 f-700 mb-25">Quick Links</h6>
              <ul class="footer-links">
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="contact-1.html">Contact Us</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms</a></li>
              </ul>
            </div>
            <div class="col-lg-4 mb-md-20">
              <h6 class="fs-23 f-700 mb-25">Subscribe Newsletter</h6>
              <form>
                <div class="form-group relative">
                  <input
                    type="text"
                    class="form-control input-border"
                    id="name"
                    aria-describedby="name"
                    placeholder="Your Name"
                  />
                  <i class="far fa-user transform-v-center"></i>
                </div>
                <div class="form-group relative mt-25">
                  <input
                    type="email"
                    class="form-control input-border"
                    id="email"
                    aria-describedby="email"
                    placeholder="Your Email"
                  />
                  <i class="far fa-envelope transform-v-center"></i>
                </div>
                <div class="text-left text-md-right mt-30">
                  <button type="submit" class="btn btn-small bg-yellow">
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer pb-35">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="hr-2 mb-35 bg-black opacity-1"></div>
            </div>
            <div class="col-lg-6 col-md-12 text-center text-lg-left mb-md-10">
              <ul class="social-icons footer-social">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-md-12 text-center text-lg-right">
              © Parish Church 2025 Allright Reserved
            </div>
          </div>
        </div>
        <a href="#" class="btn scroll-btn f-right flex-center z-25 opacity-0">
          <i class="fas fa-arrow-up"></i>
        </a>
      </div>
    </footer>

    <script
      src="../../marketing-utilities//buy-button.js"
      data-template-name="parish"
    ></script>

    <!-- footer end -->
    <!-- ********************* -->
    <!-- Theme skins -->
    <div class="color-theme transition-4">
      <div class="theme-switch">
        <span class="switch">
          <i class="fa fa-eye"></i>
        </span>
      </div>
      <div class="theme-colors transition-4">
        <h4>Theme Skins:</h4>
        <ul class="theme-ul">
          <li>
            <span class="each-color co6" data-color="/css/color6.css">
              <img src="/images/co-6.png" alt="" />
            </span>
          </li>
          <li>
            <span class="each-color co3" data-color="/css/color.css">
              <img src="/images/co-1.png" alt="" />
            </span>
          </li>
          <li>
            <span class="each-color co2" data-color="/css/color2.css">
              <img src="/images/co-2.png" alt="" />
            </span>
          </li>
          <li>
            <span class="each-color co1" data-color="/css/color3.css">
              <img src="/images/co-3.png" alt="" />
            </span>
          </li>
          <li>
            <span class="each-color co4" data-color="/css/color4.css">
              <img src="/images/co-4.png" alt="" />
            </span>
          </li>
          <li>
            <span class="each-color co5" data-color="/css/color5.css">
              <img src="/images/co-5.png" alt="" />
            </span>
          </li>
          <li>
            <span class="each-color co7" data-color="/css/color7.css">
              <img src="/images/co-7.png" alt="" />
            </span>
          </li>
          <li>
            <span class="each-color co8" data-color="/css/color8.css">
              <img src="/images/co-8.png" alt="" />
            </span>
          </li>
          <li>
            <span class="each-color co9" data-color="/css/color9.css">
              <img src="/images/co-9.png" alt="" />
            </span>
          </li>
        </ul>
        <p class="fs-13"><b>Note: </b>This will not change any image colors.</p>
      </div>
    </div>
    <!-- Theme skins -->
    <!-- JS Files -->
    <script src="/js/modernizr-3.5.0.min.js"></script>
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/lightslider.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/jquery.meanmenu.min.js"></script>
    <script src="/js/tilt.jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/audio-file.js"></script>
    <!-- JS Files end -->

    <script>
      const CLOUDINARY_URL = `https://api.cloudinary.com/v1_1/drtsuuj3r/image/upload`;
      const UPLOAD_PRESET = `ml_default`;

      document
        .getElementById('formFile')
        .addEventListener('change', function (event) {
          const fileInput = event.target;
          const file = fileInput.files[0];
          const imagePreview = document.getElementById('imagePreview');

          // Validate if the file is an image
          if (file && file.type.startsWith('image/')) {
            const reader = new FileReader();

            // Load the image and display it in the preview element
            reader.onload = function (e) {
              imagePreview.src = e.target.result;
              imagePreview.style.display = 'block'; // Show the image preview
            };

            reader.readAsDataURL(file);
          } else {
            // Clear the preview if it's not an image
            imagePreview.src = '#';
            imagePreview.style.display = 'none';
          }
        });

      document
        .getElementById('testimonyForm')
        .addEventListener('submit', async function (event) {
          event.preventDefault();
          let isValid = true;

          // Clear previous error messages
          document
            .querySelectorAll('.text-danger')
            .forEach((span) => (span.innerText = ''));

          // Validate first name
          const firstName = document.getElementById('firstName').value.trim();
          if (firstName === '') {
            document.getElementById('firstNameError').innerText =
              'First name is required.';
            isValid = false;
          }

          // Validate last name
          const lastName = document.getElementById('lastName').value.trim();
          if (lastName === '') {
            document.getElementById('lastNameError').innerText =
              'Last name is required.';
            isValid = false;
          }

          // Validate email
          const email = document.getElementById('email').value.trim();
          if (email === '') {
            document.getElementById('emailError').innerText =
              'Email is required.';
            isValid = false;
          } else if (!validateEmail(email)) {
            document.getElementById('emailError').innerText =
              'Please enter a valid email.';
            isValid = false;
          }

          // Validate address
          const address = document.getElementById('address').value.trim();
          if (address === '') {
            document.getElementById('addressError').innerText =
              'Address is required.';
            isValid = false;
          }

          // Validate country
          const country = document.getElementById('country').value.trim();
          if (country === '') {
            document.getElementById('countryError').innerText =
              'Country is required.';
            isValid = false;
          }

          // Validate category
          const category = document.getElementById('category').value.trim();
          if (category === '') {
            document.getElementById('categoryError').innerText =
              'Testimony category is required.';
            isValid = false;
          }

          // Validate public field
          const makePublic = document.getElementById('makePublic').value.trim();
          if (makePublic === '') {
            document.getElementById('makePublicError').innerText =
              'Please specify if you want the testimony public.';
            isValid = false;
          }

          // Validate message
          const message = document.getElementById('message').value.trim();
          if (message === '') {
            document.getElementById('messageError').innerText =
              'Message is required.';
            isValid = false;
          }

          // Validate file input
          const fileInput = document.getElementById('formFile');
          const file = fileInput.files[0];

          if (!file) {
            document.getElementById('fileError').innerText =
              'Please select an image file.';
            isValid = false;
          } else {
            // Validate file type (only images allowed: JPEG, PNG)
            const allowedTypes = ['image/jpeg', 'image/png'];
            if (!allowedTypes.includes(file.type)) {
              document.getElementById('fileError').innerText =
                'Only JPEG and PNG files are allowed.';
              isValid = false;
            }

            // Validate file size (example: max 2MB)
            const maxSizeInBytes = 2 * 1024 * 1024; // 2MB
            if (file.size > maxSizeInBytes) {
              document.getElementById('fileError').innerText =
                'File size must be less than 2MB.';
              isValid = false;
            }
          }

          if (!isValid) return;

          // Show upload status
          document.getElementById('uploadStatus').style.display = 'block';

          // Create a FormData object to upload the file to Cloudinary
          const formData = new FormData();
          formData.append('file', file); // The file from the input
          formData.append('upload_preset', UPLOAD_PRESET); // Your Cloudinary preset

          let imageUrl = '';
          try {
            const response = await fetch(CLOUDINARY_URL, {
              method: 'POST',
              body: formData,
            });

            const data = await response.json();

            // Hide upload status
            document.getElementById('uploadStatus').style.display = 'none';

            // Get the uploaded image URL
            imageUrl = data.secure_url;
          } catch (error) {
            console.error('Cloudinary upload failed:', error);
            alert('Failed to upload image');
            return;
          }

          const formDataJson = {
            firstname: document.querySelector(`input[name="firstName"]`).value,
            lastname: document.querySelector(`input[name="lastName"]`).value,
            email: document.querySelector(`input[id="email"]`).value,
            address: document.querySelector(`input[id="address"]`).value,
            country: document.querySelector(`input[id="country"]`).value,
            categoryUuid: '1',
            anonymous: false,
            image: imageUrl,
            testimony: document.querySelector(`textarea[name="message"]`).value,
          };

          try {
            const postResponse = await fetch('/testimony', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(formDataJson),
            });

            if (postResponse.ok) {
              alert('Form submitted successfully!');
              window.location.href = '/';
            } else {
              alert('Error submitting form.');
            }
          } catch (error) {
            console.error('Form submission failed:', error);
            alert('Failed to submit form.');
          }
        });

      function validateEmail(email) {
        const re = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        return re.test(String(email).toLowerCase());
      }
    </script>
  </body>
</html>
