     <header class="type4 transition-5 relative mg-header mg-header-dark">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-2 col-4">
                    <div class="logo2">
                        <a href="index">
                            <img src="/images/logo/cbt-logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-4 text-right ">
                    <span class="toggle-category">
                        <i class="fas fa-chevron-down"></i>
                      </span>
                    <ul class="nav nav-links1 list-type1 justify-content-center">
                        <li class="mg-nav-item mg-nav-item-has-children nav-link">
                            <a href="https://www.christbridetabernacle.com/index">HOME</a>
                            
                        </li>
                        <li class="nav-link"><a href="https://www.christbridetabernacle.com/our_assembly">Our Assembly</a></li>
                        <li class="nav-link"><a href="https://www.christbridetabernacle.com/sermons">SERMONS</a></li>
                        <li class="nav-link"><a href="https://www.christbridetabernacle.com/wmb">William Branham</a></li>
                        <li class="nav-link"><a href="https://www.christbridetabernacle.com/vgr">Voice Of God Recordings</a></li>
                        <li class="nav-link"><a href="/">Testimones</a></li>
                        <!-- mega menu page-->
                    </ui>
                </div>
                <!-- <div class="col-md-2 col-4 text-center">
                    <a href="#" class="search-icon mr-150 mr-md-75 mr-xs-55" data-toggle="modal" data-target="#searchModal"> <i class="fas fa-search fs-18 white mt-5"></i>
                    </a>
                </div> -->
            </div>
        </div>
        <a href="contact" class="db-block ml-35 ml-xs-25">
            <div class="transform-center">CONTACT</div>
        </a>
        <a href="#" class="menu-bars db-none right-menu ml-35 ml-xs-25">
            <div class="bars transform-center">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
        <!--RIGHT MENU-->
        <div class="col-md-2 col-2 text-right">
            <div class="icon-links d-flex align-items-center justify-content-end">
                <div class="bg-menu-overlay transition-5 opacity-8"></div>
                <div class="fx-menu-wrapper bg-yellow-op-9 transition-5 d-flex justify-content-between flex-column">
                    <div class="fx-menu-header d-flex justify-content-between">
                        <p class="rbt-slab fs-13 f-700">Christ's Bride Tabernacle</p>
                        <div class="close-menu">
                            <a href="#" class=""> <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <a href="contact.php" class="btn btn-black mt-30 mb-35 mb-xs-20">CONTACT US</a>
                    <div class="fx-menu-content mb-15">
                        <ul class="fx-menu-links rbt-slab">
                            <li> <a href="index">Home</a>
                            </li>
                        </ul>
                        <br>
                        <ul class="fx-menu-links rbt-slab">
                            <li> <a href="our_assembly">Our Assembly</a>
                            </li>
                        </ul>
                        <br>
                        <ul class="fx-menu-links rbt-slab">
                            <li> <a href="sermons">Sermon</a>
                            </li>
                        </ul>
                        <br>
                        
                        
                        <ul class="fx-menu-links rbt-slab"> 
                            <li> <a href="wmb">William Branham</a></li>
                        </ul>
                        <br>
                        <ul class="fx-menu-links rbt-slab">
                            <li> <a href="vgr">Voice Of God Recordings</a></li>
                        </ul>
                        <br>
                        
                        
                    </div>
                    <div class="fx-menu-footer">
                        <ul class="mg-header social-icons menu-social black">
                            <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li> <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li> <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li> <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header> 

        <div class="search-popup modal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form action="#">
                        <div class="form-group relative">
                            <input type="text" class="form-control input-search" id="search" placeholder="Search here..."> <i class="fas fa-search transform-v-center"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div> <i class="fas fa-times close-search-modal" data-dismiss="modal"></i>
    </div>
    <!-- The search Modal end -->
    <!-- Header end -->
    <!-- Inner start -->
    <!-- <section class="inner-banner bg-cover" style="background-image: url('/images/Banner/inner-banner-1.jpg');">
        <h1 class="transform-center">And so you will bear testimony to me</h1>
    </section> -->

        <section class="slider-2 relative">
        <div class="owl-carousel owl-theme main-slider">
        <div class="item">
                <div class="each-slider-2 flex-center" style="background-image: url('/images/Banner/testimony-banner.png');" data-overlay="1">
                </div>
                <div class="banner-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="banner-content-3 white z-10"> <span class="frame-top"></span>
                                    <span class="frame-bottom"></span>
                                    <!-- <div class="main-banner-texts">
                                        <h1 class="f-700">Thy Word Is A Lamp Unto My Feet, <br><span class="yellow">And A Light Unto My Path.</span> <span class="blk-spn"></span></h1>
                                        <p class="fs-19">Psalm 119:105</p> 
                                        <a href="#liveservice" class="btn btn-border-out z-5">LIVE SERVICE</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>